
	<main>
	<h1>InicioOK</h1>
	<% if(isLogin){ %>
		<h2>Bienvenido</h2>
	<% } %>
	<div class="contenedor">
		<% posts.forEach(post => { %>
		<div class="card" style="width: 18rem;">
			<div class="image">
				<img class="card-img-top" src="<%= route %>/../../<%= post.image%>" alt="Card image cap">
			</div>
			<div class="card-body">
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			</div>
		</div>
		<% }); %>
	</div>
	</div>
	</main>
