body {
	background: #ccc;
}

header {

	width: 80%;
	margin: 0 auto;
}

main {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}

.contenedor
{
  width: 100%;
  height: auto;
  display: flex !important; / ETIQUETA QUE POSICIONA UNO AL LADO DEL OTRO */
  flex-wrap: wrap;
}

